/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); !*.container, .heading {*!*/


.main{
    background: #364F6B;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style: none;
    text-transform: uppercase;
}

/*.logo{*/
/*    margin-right: 50%;*/
/*}*/

.menu a{
    text-decoration: none;
    color: #FFF;
    background: #364F6B;
}

.menu a:hover{
    color: #3FC1C9;
}

.carousel-item{
    height: 550px;
}

.d-block{
    background-size: cover;
}

/*advantages*/

.advantages{
    margin: 60px 0;
}

.advantages__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__element-left{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__element-right{
    flex-basis: 30%;
}

.advantages__element-right img{
    width: 100%;
    box-shadow: 0 0 6px 4px #3FC1C9;
}

.advantages__element-left div{
    flex-basis: 44%;
    box-shadow: 0 0 6px 2px #3FC1C9;
    padding: 30px 20px 20px;
    margin: 20px 0;
}

h2{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}


footer{
    background: #364F6B;
    color: #3FC1C9;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 10px;
}

/*height*/

.height{
    min-height: calc(100% - 64px - 80px - 100px);
}

form{
    width: 600px;
    margin: 100px auto;
}

.button{
    background: #3FC1C9 !important;
    margin-top: 20px;
    width: 100%;
}

.center{
    text-align: center;
}
.menu button{
    background: #3FC1C9;
    border: 0;
}
.menu .dropdown-menu a{
    color: #000;
    background: #FFFFFF;
}

.menu .dropdown-menu a:hover{
    color: #000;
    background: #3FC1C9;
}

.programming{
    font-family: 'Popins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background: linear-gradient(45deg, #364F6B, #3FC1C9);

}


.container{
    /*background: linear-gradient(45deg, #364F6B, #3FC1C9);*/
    padding: 15px 9%;
    padding-bottom: 100px;

}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 40px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color: #444;
    font-size: 22px ;
    padding: 10px 0;
}
.container .box-container .box p{
    color: #777;
    font-size: 15px ;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top:10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing:3px;
}
.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media(max-width: 768px){
    .container{
        padding: 20px ;
    }
}

.chapter_one{
    font-family: 'Popins', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #364F6B;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

/*.dashboard-header{*/
/*    background-color: #364F6B;*/
/*    padding: 1.25rem;*/
/*}*/
/*.dashboard-footer{*/
/*    background-color: #364F6B;*/
/*    padding: 1.25rem;*/
/*}*/

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f0f0f0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*}*/
/*.slideshow-container {*/
/*    position: relative;*/
/*    width: 200%;*/
/*    height: 50vh;*/
/*    max-width: 1000px;*/
/*    max-height: 900px;*/
/*    background: white;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 8px;*/
/*    overflow: hidden;*/
/*}*/
/*.mySlides {*/
/*    display: none;*/
/*    padding: 40px;*/
/*    color: #000000;*/
/*    font-size: 20px;*/
/*}*/
/*img {*/
/*    width: 90%;*/
/*    border-radius: 8px;*/
/*}*/
/*.prev, .next {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: auto;*/
/*    padding: 16px;*/
/*    margin-top: -22px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    transition: 0.6s ease;*/
/*    border-radius: 0 3px 3px 0;*/
/*    user-select: none;*/
/*}*/
/*.next {*/
/*    right: 0;*/
/*    background-color: #364F6B;*/
/*}*/
/*.prev {*/
/*    left: 0;*/
/*    background-color: #364F6B;*/
/*}*/
/*.prev:hover, .next:hover {*/
/*    background-color: #364F6B;*/
/*}*/
/*.section {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    justify-content: center;*/
/*}*/
/*.textglav {*/
/*    flex: 1;*/
/*    padding-right: 20px;*/
/*    text-align: center;*/
/*}*/
/*.textglav h4 {*/
/*    font-size: 74px;*/
/*    font-weight: bold;*/
/*    color: #3C526A;*/
/*}*/
/*.texttype1 {*/
/*    flex: 1;*/
/*    padding-right: 20px;*/
/*    margin-left: 10px;*/
/*}*/
/*.texttype1 h2 {*/
/*    color: #3C526A;*/
/*    font-size: 30px;*/
/*    margin: 0;*/
/*    text-align: left;*/
/*}*/
/*.texttype1 h4 {*/
/*    color: #ff5f81;*/
/*    font-size: 30px;*/
/*    margin: 0;*/
/*    text-align: left;*/
/*}*/
/*.texttype1 p {*/
/*    font-size: 20px;*/
/*    color: #000000;*/
/*    text-align: left;*/
/*    font-family: Arial;*/
/*}*/
/*.image-container {*/
/*    flex: 1;*/
/*    text-align: center;*/
/*}*/
/*.image-container img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/
/*.text-section {*/
/*    max-width: 45%;*/
/*}*/
/*.text-section h2 {*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*}*/
/*.text-section p {*/
/*    margin: 10px 0;*/
/*    font-size: 18px;*/
/*    text-align: left;*/
/*    margin-right: 60px;*/
/*}*/
/*.image-section {*/
/*    max-width: 30%;*/
/*    max-height: 30%;*/
/*    border: 2px solid #30466b;*/
/*    padding: 5px;*/
/*    box-sizing: border-box;*/
/*}*/
/*.image-section img {*/
/*    display: block;*/
/*    margin: 0 auto 10px auto;*/
/*    width: 90px;*/
/*}*/
/*.image-section p {*/
/*    text-align: center;*/
/*    margin: 0;*/
/*    font-size: 18px;*/
/*}*/

/*.card {*/
/*    border: 6px solid #31c0c9;*/
/*    background-color: white;*/
/*    max-width: 400px;*/
/*    padding: 20px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    margin-left: 10px;*/
/*}*/

/*.header {*/
/*    background-color: #31c0c9;*/
/*    color: white;*/
/*    padding: 5px;*/
/*    font-weight: bold;*/
/*    font-size: 1em;*/
/*    text-align: left;*/
/*    margin-bottom: 10px;*/
/*    border-radius: 5px;*/
/*}*/

/*.sub-header {*/
/*    color: #31c0c9;*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*    text-align: left;*/
/*}*/

/*.content {*/
/*    color: black;*/
/*    font-size: 0.8em;*/
/*    text-align: left*/
/*}*/

/*.image-section2 img {*/
/*    width: 200px;*/
/*    margin-left: 100px;*/
/*}*/
/*.card2 {*/
/*    border: 6px solid #ff4081;*/
/*    background-color: white;*/
/*    max-width: 500px;*/
/*    padding: 20px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/
/*.header2 {*/
/*    background-color: #ff4081;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    font-weight: bold;*/
/*    font-size: 1.2em;*/
/*    text-align: left;*/
/*    margin-bottom: 10px;*/
/*    border-radius: 5px;*/
/*}*/
/*.sub-header2 {*/
/*    color: #ff4081;*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*    text-align: left;*/
/*}*/
/*.content2 {*/
/*    color: black;*/
/*    font-size: 0.8em;*/
/*    text-align: left*/
/*}*/
/*.containertype2 {*/
/*    max-width: 600px;*/
/*    padding: 20px;*/
/*    text-align: left;*/
/*}*/

/*.headertype2 {*/
/*    color: #ff4081;*/
/*    font-weight: bold;*/
/*    font-size: 1.5rem;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.texttype2 {*/
/*    color: #333;*/
/*    font-size: 1em;*/
/*    margin-bottom: 20px;*/
/*    font-size: 18px;*/
/*}*/

/*.imagetype2 {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/



