<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Запись</h1>
    <div>
        <p>ФИО: <strong th:text="${newU.name}"></strong></p>
        <p>Возраст: <strong th:text="${newU.age}"></strong></p>
        <p>Эл.почта: <strong th:text="${newU.email}"></strong></p>
        <p>Диагноз: <strong th:text="${newU.diagnosis}"></strong></p>
        <p>Номер телефона: <strong th:text="${newU.phone}"></strong></p>
        <p>Дата записи: <strong th:text="${newU.appointment}"></strong></p>

    </div>
</div>

</body>
</html>