
.main{
    background: #005577;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style: none;
    text-transform: uppercase;
}

.logo{
    margin-right: 50%;
}

.menu a{
    text-decoration: none;
    color: #FFF;
}

.menu a:hover{
    color: aqua;
}

.carousel-item{
    height: 500px;
}

.d-block{
    background-size: cover;
}

/*advantages*/

.advantages{
    margin: 60px 0;
}

.advantages__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__element-left{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__element-right{
    flex-basis: 30%;
}

.advantages__element-right img{
    width: 100%;
    box-shadow: 0 0 6px 2px #005577;
}

.advantages__element-left div{
    flex-basis: 44%;
    box-shadow: 0 0 6px 2px #005577;
    padding: 30px 20px 20px;
    margin: 20px 0;
}

h2{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

/*team*/

.team{
    padding: 60px 0;
    border-top: 1px solid #999;
}

.team__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__element{
    flex-basis: 24%;
    box-shadow: 0 0 6px 2px #005577;
    text-align: center;
    text-transform: uppercase;
}

.team__element img{
    width: 100%;
}

.team__element h3, .team__element p{
    padding: 20px;
}

/*footer*/

footer{
    background: #005577;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 10px;
}

/*height*/

.height{
    min-height: calc(100% - 64px - 80px - 100px);
}

.form{
    width: 600px;
    margin: 100px auto;
}

.button{
    background: #99ccdd !important;
    margin-top: 20px;
    width: 100%;
}

.center{
    text-align: center;
}

/*admin*/

.menu button{
    background: #005577;
    border: 0;
}

/*.menu button:hover, .show{*/
/*    color: #00ddff;*/
/*    background: #005577 !important;*/
/*}*/

.menu .dropdown-menu a{
    color: #000;
    background: #FFFFFF;
}

.menu .dropdown-menu a:hover{
    color: #000;
    background: #00ddff;
}

.admin{
    padding: 60px 0;
}

.admin__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin__element{
    flex-basis: 24%;
    box-shadow: 0 0 6px 2px #005577;
    padding: 30px;
}

.admin__element img{
    width: 100%;
}

.admin__element h3, .admin__element p{
    text-align: center;
    text-transform: uppercase;
}

.admin__element p{
    font-size: 24px;
}

.btn-doctor{
    position: absolute;
    bottom: 20px;
}

.doctor__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doctor__element{
    flex-basis: 24%;
    box-shadow: 0 0 6px 2px #005577;
    padding: 60px 60px 50px;
    margin: 30px;
    text-align: center;
}

.doctor__element h4{
    color: #005577;
}

.but{
    margin: 20px 0;
    background: #00ddff !important;
    width: 100%;
    padding: 10px;
}
